<div class="block-main">
  <div class="block-one">
    <h4>Services</h4>
    <h2>I can take your business to the next level</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="block-two">
    <div class="item" *ngFor="let service of services">
      <img src="{{ service.iconUrl }}" alt="icon">
      <h5>{{ service.title }}</h5>
      <span>{{ service.description }}</span>
    </div>
  </div>
</div>
