@font-face {
  font-family: 'Gilroy Bold';
  src: url(/assets/fonts/Gilroy-Bold.eot);
  src: url(/assets/fonts/Gilroy-Bold.eot?#iefix) format('embedded-opentype'),
  url(/assets/fonts/Gilroy-Bold.woff) format('woff'),
  url(/assets/fonts/Gilroy-Bold.ttf) format('trutype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa Bold';
  src: url(/assets/fonts/Nexa-Bold.eot);
  src: url(/assets/fonts/Nexa-Bold.eot?#iefix) format('embedded-opentype'),
  url(/assets/fonts/Nexa-Bold.woff) format('woff'),
  url(/assets/fonts/Nexa-Bold.ttf) format('trutype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa XBold';
  src: url(/assets/fonts/Nexa-XBold.eot);
  src: url(/assets/fonts/Nexa-XBold.eot?#iefix) format('embedded-opentype'),
  url(/assets/fonts/Nexa-XBold.woff) format('woff'),
  url(/assets/fonts/Nexa-XBold.ttf) format('trutype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa Regular';
  src: url(/assets/fonts/NexaRegular.eot);
  src: url(/assets/fonts/NexaRegular.eot?#iefix) format('embedded-opentype'),
  url(/assets/fonts/NexaRegular.woff) format('woff'),
  url(/assets/fonts/NexaRegular.ttf) format('trutype');
  font-weight: normal;
  font-style: normal;
}
