<div class="block-main">
  <h4>Portfolio</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <div class="filters">
      <input type="radio" id="all" name="project"/>
      <label for="all">
        <h5>All</h5>
      </label>
      <input type="radio" id="web-development" name="project" />
      <label for="web-development">
        <h5>Web Development</h5>
      </label>
      <input type="radio" id="web-design" name="project"/>
      <label for="web-design">
        <h5>Web Design</h5>
      </label>
      <input type="radio" id="title-1" name="project"/>
      <label for="title-1">
        <h5>Title</h5>
      </label>
      <input type="radio" id="title-2" name="project"/>
      <label for="title-2">
        <h5>Title</h5>
      </label>
    <div class="tile web-development">
      <a href="#" target="/_blank">
        <img src="assets/img/project-webdevelopment.jpg" alt="img">
      </a>
    </div>
    <div class="tile web-design">
      <a href="#" target="/_blank">
        <img src="assets/img/project-webdesign.jpg" alt="img">
      </a>
    </div>
    <div class="tile web-development">
      <a href="#" target="/_blank">
        <img src="assets/img/project-webdevelopment.jpg" alt="img">
      </a>
    </div>
    <div class="tile title-1">
      <a href="#" target="/_blank">
        <img src="assets/img/project-title1.jpg" alt="img">
      </a>
    </div>
    <div class="tile title-2">
      <a href="#" target="/_blank">
        <img src="assets/img/project-title2.jpg" alt="img">
      </a>
    </div>
    <div class="tile title-1">
      <a href="#" target="/_blank">
        <img src="assets/img/project-title1.jpg" alt="img">
      </a>
    </div>
    <div class="tile web-design">
      <a href="#" target="/_blank">
        <img src="assets/img/project-webdesign.jpg" alt="img">
      </a>
    </div>
    <div class="tile web-development">
      <a href="#" target="/_blank">
        <img src="assets/img/project-webdevelopment.jpg" alt="img">
      </a>
    </div>
  </div>
</div>
