* {
  font-family: 'Nexa Regular', sans-serif;
  font-size: 1em;
  color: #350c1f;
}

p {
  line-height: 1.8em;
  margin: 10px 0 35px;
}

h4 {
  text-transform: uppercase;
  font-size: 1.3em;
  letter-spacing: 0.3em;
  color: #FF7C6E;
}

li {
  list-style-type: none;
}

button {
  border: none;
  outline: none;
  background-color: white;
}

h5 {
  font-family: "Nexa Bold", sans-serif;
  font-size: 1.1em;
  &:hover { color: #FF7C6E }
}

img {
  width: 250px;
}

.block-main {
  text-align: center;
  .filters {
    width: 45%;
    margin: 0 auto 20px;
    display: flex;
    justify-content: space-between;
  }
  .works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }
}
