* {
  font-family: 'Nexa Regular', sans-serif;
  font-size: 1em;
  color: #350c1f;
}

p {
  line-height: 1.8em;
}

h2 {
  font-family: "Nexa XBold", sans-serif;
  font-size: 3.1em;
  letter-spacing: -0.03em;
  margin: 25px 0;
}

h4 {
  font-size: 1.3em;
  letter-spacing: 0.3em;
  color: #FF7C6E;
}

h5 {
  font-family: "Nexa Bold", sans-serif;
  font-size: 1.1em;
}

.text {
  font-size: 0.85em;
}
