* {
  font-family: 'Nexa Regular', sans-serif;
  font-size: 1em;
  color: #350c1f;
}

p {
  line-height: 1.8em;
  margin: 10px 0 35px;
}

h4 {
  text-transform: uppercase;
  font-size: 1.3em;
  letter-spacing: 0.3em;
  color: #FF7C6E;
}

input[type="radio"] {
  display: none;
}

label {
  width: 19%;
  float: left;
  text-align: center;
  padding: 0.5%;
  margin: 0.5%;
  margin-bottom: 20px;
  cursor: pointer;
}

h5 {
  font-family: "Nexa Bold", sans-serif;
  font-size: 1.1em;
  &:hover { color: #FF7C6E }
}

.block-main {
  text-align: center;
}

.tile {
  width: 23%;
  float: left;
  margin: 0.9%;
  padding: 0.5%;
  transition: all 1s;
  .one {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    div {
      position: absolute;
      width: 100%;
      height: 100%;
      img { width: 105% }
    }
  }
}

.web-development {
  background: #6666ff;
}
.web-design {
  background: #ff4466;
}
.title-1 {
  background: #66dd99;
}
.title-2 {
  background: #FF7C6E;
}

input[type="radio"][id="web-development"]:checked + label,
input[type="radio"][id="web-design"]:checked + label,
input[type="radio"][id="title-1"]:checked + label,
input[type="radio"][id="title-2"]:checked + label {
  //border-bottom: 1px solid #FF7C6E;
  color: #FF7C6E;
}
input[type="radio"][id="web-development"]:checked ~ .web-design,
input[type="radio"][id="web-development"]:checked ~ .title-1,
input[type="radio"][id="web-development"]:checked ~ .title-2 {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}
input[type="radio"][id="web-design"]:checked ~ .web-development,
input[type="radio"][id="web-design"]:checked ~ .title-1,
input[type="radio"][id="web-design"]:checked ~ .title-2 {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}
input[type="radio"][id="title-1"]:checked ~ .web-development,
input[type="radio"][id="title-1"]:checked ~ .web-design,
input[type="radio"][id="title-1"]:checked ~ .title-2 {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}
input[type="radio"][id="title-2"]:checked ~ .web-development,
input[type="radio"][id="title-2"]:checked ~ .web-design,
input[type="radio"][id="title-2"]:checked ~ .title-1 {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

@media only screen and (min-width: 1024px) {
  h5 { font-size: 0.9em }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h5 { font-size: 0.9em }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  label { display: none }
  .tile {
    width: 95%;
    margin-bottom: 5%;
    padding: 2%;
  }
}
