<header>
  <div class="container">
    <div class="row">
      <nav class="navbar-start">
        <span class="name">kristallred</span>
        <div class="navbar">
          <a routerLink="/" (click)="scrollToContent()">Home</a>
          <a routerLink="/services" (click)="scrollToContent()">Services</a>
          <a routerLink="/skills" (click)="scrollToContent()">Skills</a>
          <a routerLink="/portfolio" (click)="scrollToContent()">Portfolio</a>
        </div>
      </nav>
      <a class="btn btn-download" href="/assets/pdf/test-done.jpg" download>Download CV</a>
      <div class="mobile-menu" (click)="openNav()">Menu</div>
      <div id="mySidenav" class="sidenav">
        <a class="closeBtn" (click)="closeNav()">&times;</a>
        <a routerLink="/" (click)="closeNav(); scrollToContent()">Home</a>
        <a routerLink="/services" (click)="closeNav(); scrollToContent()">Services</a>
        <a routerLink="/skills" (click)="closeNav(); scrollToContent()">Skills</a>
        <a routerLink="/portfolio" (click)="closeNav(); scrollToContent()">Portfolio</a>
      </div>
    </div>
    <div class="home">
      <div class="home-left">
        <p>Hello, I am</p>
        <h1>Kristina Sorochan</h1>
        <p>Designer and Coder</p>
        <a class="btn btn-download" href="/assets/pdf/test-done.jpg" download>Download CV</a>
      </div>
      <div class="home-right">
        <img width="100%" src="../assets/img/develop.png" alt="img">
      </div>
    </div>
  </div>
</header>
<main>
  <div class="container" id="content">
    <router-outlet></router-outlet>
  </div>
<!--  <div class="container">-->
<!--    <app-services></app-services>-->
<!--  </div>-->
<!--  <div class="container">-->
<!--    <app-skills></app-skills>-->
<!--  </div>-->
<!--  <div class="container">-->
<!--    <app-portfolio></app-portfolio>-->
<!--  </div>-->
</main>
<footer>
  <div class="container">
    <div class="row">
      <span class="name">kristallred</span>
      <div class="navbar">
        <a routerLink="/">Home</a>
        <a routerLink="/services">Services</a>
        <a routerLink="/skills">Skills</a>
        <a routerLink="/portfolio">Portfolio</a>
      </div>
      <div class="social-media">
        <div *ngFor="let social of socials">
          <a href="{{ social.link }}" target="_blank">
            <img src="{{ social.iconUrl }}" alt="{{ social.name }}">
          </a>
        </div>
      </div>
    </div>
    <p class="copyright">Copyright © Kristina Sorochan 2020</p>
  </div>
</footer>
