* {
  font-family: 'Nexa Regular', sans-serif;
  font-size: 1em;
  color: white;
}

.container {
  padding: 3% 12.5%;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  padding: 15px 32px;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
}

h1 {
  font-family: 'Nexa XBold', sans-serif;
  font-size: 4.2em;
  letter-spacing: -0.03em;
  //line-height: 1em;
}

header,
footer {
  background-size: 100% 100%;
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .name {
      font-family: 'Gilroy Bold', sans-serif;
      font-size: 2.1em;
      letter-spacing: -0.03em;
      padding-right: 80px
    }
    .navbar{
      display: flex;
      justify-content: space-between;
      a {
        text-decoration: none;
        cursor: pointer;
        font-size: 0.9em;
      }
    }
  }
}

header {
  //height: 1004px;
  background-image: url("../assets/img/header-bg.png");
  .row {
    .navbar-start {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      .navbar {width: 250px}
    }
    .btn-download {
      font-family: 'Nexa XBold', sans-serif;
      font-size: 0.75em;
      color: #FF7C6E;
      background-color: white;
    }
  }
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .home-left {width: 40%}
  .home-right {width: 60%}
}

footer {
  //height: 394px;
  background-image: url("../assets/img/footer-bg.png");
  .row {
    align-items: center;
    margin-top: 100px;
    .navbar {width: 350px}
    .social-media{
      display: flex;
      justify-content: space-between;
      width: 185px;
      img {width: 73%}
    }
  }
  .copyright {
    font-size: 0.8em;
    text-align: center;
    margin-top: 50px;
  }
}
