<header>
  <nav>
    <span>name</span>
    <ul>
      <li routerLink="/">Home</li>
      <li routerLink="/services">Services</li>
      <li routerLink="/skills">Skills</li>
      <li routerLink="/portfolio">Portfolio</li>
    </ul>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <nav>
    <span>name</span>
    <ul>
      <li routerLink="/">Home</li>
      <li routerLink="/services">Services</li>
      <li routerLink="/skills">Skills</li>
      <li routerLink="/portfolio">Portfolio</li>
    </ul>
  </nav>
</footer>
