* {
  font-family: 'Nexa Regular', sans-serif;
  font-size: 1em;
  color: #350c1f;
}

img { width: 90% }

h2 {
  font-family: "Nexa XBold", sans-serif;
  font-size: 3.1em;
  letter-spacing: -0.03em;
  margin: 25px 0;
}

.block-main {
  text-align: center;
}
